<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о сотруднике</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="info_employee">
    <div class="employee-details">
        <div class="employee-id">
            <span>ID: {{ id }}</span>
        </div>

        <div class="employee-photo">
            <img src="{{ pers_info['img'] }}" alt="Фото сотрудника">
        </div>

    
        <div class="employee-name">
            <h2>{{ pers_info['name'] }}</h2>
        </div>

        <div class="employee-description">
            <p>{{ pers_info['desc2'] | safe }}</p>
        </div>

        <div class="employee-contacts">
            <p><strong>Телефон:</strong> {{ pers_info['phone'] }}</p>
            <p><strong>Почта:</strong> {{ pers_info['mail'] | safe }}@nicecompany.ru</p>
        </div>
    </div>
</body>
</html>